/*testimonial section*/
.testimonial{
 position: relative;
 background-image: url('../images/background/background3.webp');
 background-attachment: fixed;
 height: 400px;
}
.testimonial-content{
 margin: auto;
}
.testimonial-item{
 width: 50%;
 color: var(--whiteColor);
}
.testimonial-item .testimonial-item-toplayer{
 padding: 10px 2px 40px 100px;
 position: relative;
}
.testimonial-item .testimonial-item-toplayer img{
 position: absolute;
 top: 10px;
 left: 10px;
 border-radius: 50%;

}
.testimonial-item .testimonial-item-toplayer h3{
 margin-bottom: 5px 0;
}
.testimonial-item .testimonial-item-toplayer span{
color:var(--mainColor);
}
.testimonial-item-desc{
 font-size: 17px;
 line-height: 1.5;
}